version: '2'

services:
  apache-php:
    build: ./
    depends_on:
      - mysql
      - mongodb
    volumes:
      - /path/to/your/pim:/home/docker/pim
      - /home/_you_/.composer:/home/docker/.composer
    working_dir: /home/docker/pim
    ports:
      - '8080:80'
    networks:
      - akeneo

  mysql:
    image: mysql:5.6
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_USER=akeneo_pim
      - MYSQL_PASSWORD=akeneo_pim
      - MYSQL_DATABASE=akeneo_pim
    networks:
      - akeneo

  mongodb:
    image: mongo:2.6
    networks:
      - akeneo

networks:
  akeneo: ~
